@use '../../assets/styles/config';

.linklist-wrapper {
    h3 {
        margin-bottom: 16px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 32px;
        li {
            display: flex;
            align-items: center;
            svg {
                margin-right: 8px;
            }
            color: var(--font-secondary-color);
            margin-bottom: 6px;
            padding: 12px 0;
            border-bottom: 1px solid var(--list-border-default);
            &:last-child {
                border-bottom: none;
            }
            &:first-child {
                padding-top: 0;
            }
            > div {
                display: flex;
                align-items: center;
            }
            > span {
                color: var(--font-secondary-color)
            }
            &.list-column {
                flex-direction: column !important;
                align-items: flex-start;
            }
            &.list-row {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
    span {
        color: var(--font-main-color);
    }
    .link-description {
        color: var(--font-secondary-color);
    }
}