@media screen and (min-width: 1024px) {
    // Headings
    h1 {
        font-size: 128px;
        line-height: 98px;
        margin: 48px 0;
    }

    h2, h3 {
        margin-top: 0;
    }

    // Header
    .header-wrapper {
        width: 992px;
    }
    .logo-wrapper {
        img {
            height: 48px;
        }
    }

    // Sections
    section {
        justify-content: center;
    }

    .section-content-wrapper {
        display: flex;
        flex-direction: row;
        width: 992px;
    }

    .right-pane {
        display: flex;
        flex-direction: column;
        width: 65%;
        padding-left: 16px;
        flex-wrap: wrap;
    }

    .left-pane {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding-right: 24px;
        text-align: right;
    }

    // Project card
    .project-card-list-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .project-card {
        display: flex;
        // height: 100%;
        // flex-grow: 2;
        &.quote {
            border-left: none;
            margin: 0;
        }
    }

    .project-card-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        // display: block;
        // height: 100%;
        width: 100%;
    }

    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        // width: auto;
        height: 100%;
        &.card-large {
            width: auto;
        }
        &.card-small {
            width: auto;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            margin-right: 0;
            span {
                margin-right: 0;
            }
        }
    }

    .card-buttons {
        position: relative;
        height: 100%;
        align-items: flex-end;
        & button {
            height: 45px;
            text-align: left;
        }
    }

    .card-large {
    }
    .card-small {
        width: 49%;
    }

    // Content block
    .content-block {
        display: block;
        margin-bottom: 32px;
    }

    // Link list
    .linklist-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .small {
            width: 45%;
        }
        .large {
            width: 100%;
        }
    }

    // Footer
    .footer-wrapper {
        width: 992px;
    }

    // Text
    span {
        &.subtitle {
            font-size: 28px;
            line-height: 30px;
        }
    }
}