//@use '../../assets/styles/config';

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    // background: config.$background-shade-a;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 100;
}

.logo-wrapper {
    img {
        height: 31px;
    }
}