// Import-fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Kreon:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');

// Color-Backgrounds
$background-shade-a: #EBEBEB;
$background-shade-b: #F4F4F4;
$background-shade-special: #0A0A0A;
// Color-Fonts
$font-main-color: #0A0A0A;
$font-secondary-color: #626262;
// Color-Highlight
$highlight-color: #7CAAD4;

// Text-styling
body {
    font-family: 'Poppins', sans-serif;
}
//Text-headings
h1 {
    font-family: 'Inter', sans-serif;
}

h2, h3, h4 {
    font-family: 'Kreon', serif;
}

span {
    &.subtitle {
        font-family: 'Kreon', serif;
    }
    &.comment {
        font-family: 'Poppins', sans-serif;
    }
}

// Sections
section {
    &.section-a {
        background: $background-shade-a
    }
    &.section-b {
        background: $background-shade-b;
    }
}