// Import-fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Kreon:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');
@font-face{font-family:"blender-pro-heavy"; src: url("/assets/BlenderPro-Heavy.woff") format("woff")}
@font-face{font-family:"blender-pro-regular"; src: url("/assets/BlenderPro-Book.woff") format("woff")}
@font-face{font-family:"blender-pro-medium"; src: url("/assets/BlenderPro-medium.woff") format("woff")}

// Font setup
$blender-heavy: blender-pro-heavy, sans-serif;
$blender-medium: blender-pro-medium, sans-serif;
$blender-regular: blender-pro-regular, sans-serif;

:root {
    // Color-Backgrounds
    --background-shade-a: #EBEBEB;
    --background-shade-b: #F4F4F4;
    --background-shade-special: #0A0A0A;
    --background-shade-footer: var(--background-shade-special);
    --background-shade-welcome: #1B1B1B;
    // Color-Fonts
    --font-main-color: #0A0A0A;
    --font-secondary-color: #626262;
    --font-inverted: #F4F4F4;
    --font-kicker: var(--font-secondary-color);
    --font-kicker-inverted: var(--font-inverted);
    // Color-Highlight
    --highlight-color: #7CAAD4;
    --highlight-selected: #0A0A0A;
    // Button-special
    --nav-selected: #F4F4F4;
    --border-default: #e8e8e8;
    --button-selected: #F4F4F4;
    --filter-button-background: var(--background-shade-special);
    --tags-background: #e0e0e0;
    // list-Specials
    --list-border-default: #dbdbdb;
}

// Mixins
@mixin kicker-mixin {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 32px;
}

// body!
body {
    background: var(--background-shade-a);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    // color: var(--font-main-color);
    -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
    font-family: $blender-heavy;
    font-size: 62px;
    line-height: 48px;
    color: var(--font-main-color);
    margin: 32px 0;
}

h2, h3, h4 {
    font-family: $blender-medium;
    color: var(--font-main-color);
}

h2 {
    font-size: 32px;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
}

a {
    color: var(--font-main-color);
    text-decoration: none;
    position: relative;
    &:hover {
        text-decoration: underline;
    }
}

nav {
    height: 28px;
    a {
        color: var(--font-main-color);
        font-family: $blender-heavy;
        font-size: 12px;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
        &:before {
            content: "";
        }
        &.active {
            background: var(--highlight-selected);
            color: var(--nav-selected);
            margin: 0 8px;
            cursor: auto;
            &:hover {
                text-decoration: none;
            }
        }
        &.standard {
            padding: 8px 8px;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

span {
    &.subtitle {
        display: block;
        border-left: 6px solid var(--highlight-color);
        padding-left: 16px;
        margin-bottom: 32px;
        font-family: $blender-medium;
        font-size: 24px;
        color: var(--font-secondary-color);
    }
    &.kicker {
        @include kicker-mixin;
        color: var(--font-kicker);
    }
    &.inverted-kicker {
        @include kicker-mixin;
        color: var(--font-kicker-inverted);
    }
    &.comment {
        font-family: 'Poppins', sans-serif;
    }
    &.quote-by {
        font-size: 16px;
    }
    &.filter-tags {
        font-family: $blender-heavy;
        font-size: 16px;
        display: block;
        margin-bottom: 8px;
        color: var(--font-secondary-color);
    }
    &.body-text {
        color: var(--font-secondary-color);
    }
}

li {

}

// Colors components
.light-shade {
    background: var(--background-shade-b);
}
.dark-shade {
    background: var(--background-shade-a);
}
.inverted-shade {
    background: var(--background-shade-special);
    color: var(--font-inverted);
    h2, h3, h4 {
        color: var(--font-inverted);
    }
    button {
        background: var(--border-default);
        border: 1px solid var(--font-main-color);
        color: var(--font-main-color);
        margin-right: 8px;
    }
}

// Misc components
.quote {
    display: block;
    color: var(--font-secondary-color);
    font-size: 18px;
    border-left: 6px solid var(--highlight-color);
    padding-left: 16px;
    margin: 32px 0;
}

.welcome-text {
    display: inline-block;
    font-family: $blender-heavy;
    background: var(--background-shade-welcome);
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    transform: rotate(-4deg);
    color: var(--font-inverted);
    a {
        color: var(--font-inverted);
        text-decoration: underline;
    }
}

.me-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.filter-block {
    margin-bottom: 32px;
}

// Images
img {
    &.icon {
        display: block;
        width: 18px;
        &.darkmode {
            filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(105%) contrast(104%);
        }
        &.lightmode {
            filter: invert(0%) sepia(78%) saturate(850%) hue-rotate(19deg) brightness(119%) contrast(92%);
        }
        &.inverted {
            filter: invert(100%) sepia(51%) saturate(2%) hue-rotate(40deg) brightness(109%) contrast(100%);
        }
    }
}

// Buttons
button {
    align-items: center;
    color: var(--font-main-color);
    background: var(--background-shade-a);
    font-family: $blender-heavy;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    &.icon-button {
        display: flex;
        height: 45px;
        svg {
            margin-left: 6px;
            width: 12px !important;
            height: 12px !important
        }
        img {
            width: 16px !important;
            height: 16px !important;
            border-bottom: none !important;
            margin-left: 4px;
        }
    }
    &.standard {
        padding: 8px 8px;
    }
    &.active {
        background: var(--highlight-selected);
        color: var(--font-inverted);
        margin: 0 8px;
    }
    &.selected {
        background: var(--background-shade-special) !important;
        color: var(--button-selected);
    }
    &.filter {
        border: 1px solid var(--border-default);
        margin-right: 4px;
        margin-bottom: 4px;
    }
    &.set-theme {
        svg {
            width: 16px;
            height: 16px;
        }
    }
}

.contact-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 16px;
    background: var(--background-shade-welcome);
    color: var(--font-inverted);
    svg {
        margin-left: 8px;
    }
}