@use '../assets/styles/config';

.website-container {
    position: relative;
    top: 63px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 63px);
}

section {
    display: flex;
    width: 100%;
    padding: 96px 32px;
    box-sizing: border-box;
    &.top-section {
        // Update
        display: flex;
        box-sizing: border-box;

        height: calc(100vh - 63px);
        align-items: center;
        padding: 0 32px;
    }
}

.top-section-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .image-content {
        flex-direction: column;
    }
}

.section-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.section-image-wrapper {
    display: flex;
    justify-content: center;
    & img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}